<section class="row-alt">
    <div class="lead container">
        <h1>Розклад</h1>
        <p>
            Конференція відкривається дивовижними семінарами і продовжиться два дні неймовірних розмов і презентацій,
            які проводяться за сприяння провідних вчених університету. До участі в конференції запрошуються студенти,
            викладачі, науковці, докторанти, аспіранти та всі зацікавлені особи.
        </p>
    </div>
</section>
<section class="row">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th scope="row">
                        Конференція
                    </th>
                    <td class="schedule-offset" colspan="2">
                        4 червня
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <time datetime="08:30:00">8:30</time>
                    </th>
                    <td class="schedule-offset" colspan="2">
                        Регістрація
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="09:00:00">9:00</time>
                    </th>
                    <td>
                        <h4>Вітальне слово</h4>
                        Ректор Херсонського національного технічного університету д.т.н., професор Бардачов Ю.М.

                    </td>
                    <td>
                        <a href="direction.php#theme1">
                            <h4>Пленарні доповіді та обговорення</h4>
                            Секція "Інформаційні технології": сучасні тенденції розвитку інформаційних технологій
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="12:30:00">12:30</time>
                    </th>
                    <td class="schedule-offset" colspan="2">
                        Кава-брейк
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="14:00:00">14:00</time>
                    </th>
                    <td>
                        <a href="direction.php#theme2">
                            <h4>Пленарні доповіді та обговорення</h4>
                            Секція "Інформаційні системи": моделювання та оптимізація інформаційних систем
                        </a>
                    </td>
                    <td>

                        <h4>Дискусія на тему:</h4>
                        Стан інформаційних технологій в Україні та їх вплив на розвиток суспільства

                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th scope="row">
                        Конференція
                    </th>
                    <td class="schedule-offset" colspan="2">
                        5 червня
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <time datetime="08:30:00">8:30</time>
                    </th>
                    <td class="schedule-offset" colspan="2">
                        Регістрація
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="09:00:00">9:00</time>
                    </th>
                    <td>
                        <a href="direction.php#theme3">
                            <h4>Пленарні доповіді та обговорення</h4>
                            Секція "Управління проектами": управління проектами регіонального розвитку
                        </a>
                    </td>
                    <td>
                        <h4>Круглий стіл:</h4>
                        Осмислення місця і ролі інформації у сучасному суспільстві
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="12:30:00">12:30</time>
                    </th>
                    <td class="schedule-offset" colspan="2">
                        Кава-брейк
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <time datetime="14:00:00">14:00</time>
                    </th>
                    <td>
                        <a href="direction.php#theme4">
                            <h4>Пленарні доповіді та обговорення</h4>
                            Секція "Мережні технології": мережні та телекомунікаційні технології в суспільстві
                        </a>
                    </td>
                    <td>
                        <h4>Дискусія на тему:</h4>
                        Інформаційні технології як фактор соціальної трансформації суспільства
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>